resource meraki_networks "{{ inventory_hostname }}" {
    organization_id = var.org_id
    name = "{{ inventory_hostname }}"
    product_types = ["appliance", "cellularGateway", "switch", "wireless"]
    tags = ["terraform"]
}

locals {
  serials = concat(var.mx_serials, var.switch_serials, var.ap_serials, var.mg_serials)
}

data meraki_devices "current_devices" {
    network_ids =[meraki_networks.{{ inventory_hostname }}.id]
    organization_id = var.org_id
}

locals  {
  new_devices = setsubtract(toset(local.serials), toset(data.meraki_devices.current_devices.items[*].serial))
}

resource meraki_networks_devices_claim "{{ inventory_hostname }}-devices" {
    network_id = meraki_networks.{{ inventory_hostname }}.id
    parameters = {
        serials = local.new_devices
    }
}