terraform {
  required_providers {
    meraki = {
      version = "{{ provider_ver }}"
      source = "registry.terraform.io/cisco-open/meraki"
    }
  }
  backend "http" {
  }
}

provider "meraki" {
  meraki_debug = true
}

