resource "meraki_devices" "{{ inventory_hostname }}-switches" {
    for_each = var.switch_map
    name = each.key
    serial = each.value.serial
}

resource "meraki_networks_switch_access_policies" "test_policy" {
    network_id = meraki_networks.{{ inventory_hostname }}.id
    name = "tf-test-policy"
    access_policy_type = "802.1x"
    host_mode = "Single-Host"
    radius_servers = [ {
        host = "172.17.1.153"
        port = 1812
        secret = "myisepsk!"
    } ]
    radius_testing_enabled = false
    radius_coa_support_enabled = true
    radius_accounting_enabled = false
    url_redirect_walled_garden_enabled = false
}

resource "meraki_devices_switch_ports" "{{ inventory_hostname }}-trunks" {
    for_each = {
        for switch in flatten([
            for key, values in var.switch_map : [
                for port in values.trunk_ports : {
                    name = key
                    serial = values.serial
                    port = port
                }
            ]
        ]) : "${switch.name}-port${switch.port}" => switch
    } 
    port_id = each.value.port
    serial = each.value.serial
    type = "trunk"
    name = "tf-trunk"
    allowed_vlans = "1-1000"
    vlan = "1"
    enabled = true
}

resource "meraki_devices_switch_ports" "{{ inventory_hostname }}-access" {
    for_each = {
        for switch in flatten([
            for key, values in var.switch_map : [
                for port in values.access_ports : {
                    name = key
                    serial = values.serial
                    port = port
                }
            ]
        ]) : "${switch.name}-port${switch.port}" => switch
    } 
    port_id = each.value.port
    serial = each.value.serial
    type = "access"
    name = "tf-access"
    vlan = "10"
    access_policy_type = "Custom access policy"
    access_policy_number = meraki_networks_switch_access_policies.test_policy.access_policy_number
    enabled = true
}