org_id = "{{ org_id }}"

switch_serials = [
    {% for switch in switch_serials %}
    "{{ switch }}"{{ "," if not loop.last else "" }}
    {% endfor %}]

switch_map = { 
{% for switch in switch_map %}
{% for k, v in switch.items() %}
    "{{ k }}" = {
        serial = "{{ v.serial }}"
        access_ports = [{% for port in v.access_ports %}"{{port}}"{{ "," if not loop.last else "" }}{% endfor %}]
        trunk_ports = [{% for port in v.trunk_ports %}"{{port}}"{{ "," if not loop.last else "" }}{% endfor %}]
    }{% endfor %}{{ "," if not loop.last else "" }}
        {% endfor %}
}

ap_serials = [{% for serial in ap_serials %}"{{serial}}"{{ "," if not loop.last else "" }}{% endfor %}] 

ap_map = { 
{% for ap in ap_map %}
{% for k, v in ap.items() %}
"{{ k }}" = "{{ v }}"{% endfor %}{{ "," if not loop.last else "" }}
{% endfor %}
}

mx_serials = [{% for serial in mx_serials %}"{{serial}}"{{ "," if not loop.last else "" }}{% endfor %}]

mg_serials = [{% for serial in mg_serials %}"{{serial}}"{{ "," if not loop.last else "" }}{% endfor %}]