resource "meraki_devices" "{{ inventory_hostname }}-aps" {
    for_each = var.ap_map
    name = each.key
    serial = each.value
}

resource "meraki_networks_wireless_ssids" "tf-test-psk" {
    network_id = meraki_networks.{{ inventory_hostname }}.id
    number = "0"
    name = "tf-test-wifi"
    auth_mode = "psk"
    encryption_mode = "wpa"
    psk = "thisismylab"
    enabled = true
}

resource "meraki_networks_wireless_ssids" "tf-test-radius" {
    network_id = meraki_networks.{{ inventory_hostname }}.id
    number = "1"
    name = "tf-test-radius1"
    auth_mode = "8021x-radius"
    encryption_mode = "wpa-eap"
    radius_servers = [{
        host = "172.17.1.153"
        port = 1812
        secret = "thisismylab"
    }]
    enabled = true
}
